:root{
    --chromakey: #00ff00;
    /* --effectbar: #323d41; */
    --effectbar: #6c838b;
    --percentageBar: #33587a;
    --effecttextcolor: #fff;
}
#greenscreen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    background-color: var(--chromakey);
    z-index: -1;
}
#voting-panel {
    width: min-content;
    min-width: 350px;
    height: min-content;
    border-radius: 5px;
    margin: 37px auto;
}
.effect-container div span {
    z-index: 2;
}

.effect-container{
    position: relative;
    transition: all 500ms ease-in-out;
    /* transition-delay: 1500ms; */
}


.effect {
    width: 100%;
    text-align: center;
    line-height: 0.8;
    min-height: 35px;
    font-weight: 700;
    color: #000;
    color: var(--effecttextcolor);
    background-color: var(--effectbar);
    margin-bottom: 7px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
#loadingbar {
    background-color: var(--percentageBar);
    height: 35px;
    position: absolute;
    z-index: 0;
    transform: translateX(-15px);
    transition: all 250ms ease-in-out;
    max-width: 350px;
}

.effect.highlight {
    /* background-color: #33587a; */
    background-color: var(--winning-effect-color);
    color: var(--effecttextcolor);
    font-size: 15px;
    font-weight: 700;
    transition: all 500ms ease-in-out;
}
.non-highlight {
    font-size: 13px;
    /* transition: all 500ms ease-in-out; */
}
#total-votes {
    font-weight: 700;
    background-color: var(--effectbar);
    color: var(--effecttextcolor);
    border-radius: 5px 5px 0 0;
    line-height: 1;
    width: 125px;
    padding: 0 5px;
    text-align: center;
    font-size: 14px;
    padding: 4px 0;
    transition: all 500ms ease-in-out;
}
#twitch-disabled {
    width: 100%;
    text-align: center;
    font-weight: 700;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#twitch-disabled button {
    margin: 0 auto;
    background-color: #49595f;
    width: 50%;
    height: 35px;
    color: #fff;
    border: none;
    font-weight: 700;
    border-radius: 5px;
}

#timeout-warning {
    width: 100%;
    text-align: center;
    padding: 25px;
    color: red;
    font-weight: bold;
    font-size: 14px;
}

.greyed-out {
    background-color: #808080!important;
    /* background-color: #49595f; */
    transition: all 500ms ease-in-out;
}

.offside {
    transform: translateX(400px);
}